---
import SiteLayout from '../../layouts/SiteLayout.astro'
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<SiteLayout>
	<aside class="absolute z-40 w-1/5">
		<img src="/asset.jpeg" class="mx-auto mt-14 w-3/4 "/>
	</aside>
	<section>
		<h1 class="text-neutral-300 text-center mx-auto text-lg sm:text-2xl font-galaxy font-extrabold">my fabricated nutshell</h1>
		<hr class="line mt-4">
		<div class="grid sm:w-1/2 w-3/5 mx-auto mt-6 sm:grid-cols-2 md:grid-cols-3 gap-4">
			{posts.map((post) => (
				<div class="bg-neutral-800 rounded-2xl overflow-hidden">
					<a href={`/blog/${post.id}/`} class="flex flex-col h-full">
						{post.data.heroImage && (
							<div class="flex-shrink-0">
								<Image class="rounded-t-2xl w-full h-32 sm:h-40 md:h-30 object-cover" src={post.data.heroImage} alt="" />
							</div>
						)}
						<div class="flex-1 p-3 flex items-center justify-center">
							<h4 class="text-neutral-300 font-galaxy text-xs md:text-sm text-center leading-tight">{post.data.title}</h4>
						</div>
					</a>
				</div>
			))}
		</div>
	</section>
</SiteLayout>