---
import SiteLayout from '../../layouts/SiteLayout.astro'
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<SiteLayout>
	<aside class="z-40 absolute w-1/5 " >
		<div class="mt-20 text-center text-neutral-500 text-xs p-4 tracking-widest font-galaxy mx-auto w-10/12">
			just another random human being, trying to break free of the chains that I unconsciously forged myself, assuming it was somebody else who pushed me inside this cage. 
			this cage, of wild thoughts, floating all around. <br>
			<!-- <q>words do not express thoughts very well. they always become a little different immediately after they are expressed, a little distorted, a little foolish.</q>
			perhaps I wish to be the distorted image that does make a little sense, not necessarily to everyone. -->
		</div>
		<div class=" text-center text-neutral-500 font-galaxy text-xs mx-auto w-10/12">a raging dysphoria</div>
		<div class=" mt-4 text-center text-neutral-500 text-xs font-galaxy  mx-auto w-10/12">onism that burns</div>
		<div class=" mt-16 text-center bg-stone-700 text-neutral-500 text-sm font-galaxy mx-auto w-10/12">explore</div>
		<div class=" mt-2 text-center text-neutral-500 text-sm font-galaxy mx-auto w-10/12">Home</div>
		<div class=" mt-2 text-center text-neutral-500 text-sm font-galaxy mx-auto w-10/12">Projects</div>
		<div class=" mt-2 text-center text-neutral-500 text-sm font-galaxy mx-auto w-10/12">Gallery</div>
		<img src="imagcopy.png" class="mx-auto mt-10 opacity-70 w-9/12 rounded-2xl">
		

	</aside>
	<section class="">
		<h1 class="text-neutral-300 text-center mx-auto text-lg sm:text-2xl font-galaxy font-extrabold">my fabricated nutshell</h1>
		<h2 class="text-neutral-300 mt-6 text-center mx-auto text-[8px] sm:text-xs italic font-mono font-extralight">my head is a hive of words that won't settle down.</h1>
		<hr class="line mt-2">
		<div class="grid sm:w-1/2 w-3/5 mx-auto mt-6 sm:grid-cols-2 md:grid-cols-3 gap-4">
			{posts.map((post) => (
				<div class="bg-neutral-800 rounded-2xl overflow-hidden">
					<a href={`/blog/${post.id}/`} class="flex flex-col h-full">
						{post.data.heroImage && (
							<div class="flex-shrink-0">
								<Image class="rounded-t-2xl w-full h-32 sm:h-40 md:h-30 object-cover" src={post.data.heroImage} alt="" />
							</div>
						)}
						<div class="flex-1 p-3 flex items-center justify-center">
							<h4 class="text-neutral-300 font-galaxy text-xs md:text-sm text-center leading-tight">{post.data.title}</h4>
						</div>
					</a>
				</div>
			))}
		</div>
	</section>
	<section class="">
		<h2 class="text-neutral-300 mt-6 text-center mx-auto text-[8px] sm:text-xs italic font-mono font-extralight">idk.</h1>
		<hr class="line mt-2">
		<div class=" text-neutral-500 font-galaxy text-xs mx-auto w-10/12 text-center">a raging dysphoria</div>
		<div class="grid sm:w-1/2 w-3/5 mx-auto mt-6 sm:grid-cols-2 md:grid-cols-3 gap-4">
			
		</div>

		
	</section>
</SiteLayout>