/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cinzel:wght@400..900&family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme{
  --color-midnight-black : #191919;
  --color-brown: #786b5e;
  --font-modern : "Cinzel" , serif;
  --font-galaxy : "DistantGalaxy";
}
@font-face {
  font-family: 'DistantGalaxy';
  src: url('/fonts/LyonText-Regular-Cy-Gr-Web.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.triangle{
  @apply w-0 h-0 border-l-[0.3em] border-y-[0.2em] border-y-transparent border-solid
}
.box{
  @apply sm:w-1/2 w-3/5 p-1 h-10 bg-neutral-800 mx-auto text-zinc-300 sm:text-2xl text-center rounded-md font-extrabold font-galaxy
}
.line{
  @apply border-neutral-800 sm:w-1/2 w-3/5 mx-auto mb-4
}
.waves {
    @apply absolute bottom-0 left-0 w-full h-[15vh] min-h-[50px] max-h-[150px] z-20;
  }

  .waves-svg {
    @apply relative h-full w-full;
  }

  .wave-layer {
    fill: #191919;
    animation: wave 25s cubic-bezier(0.5, 0.5, 0.45, 0.5) infinite;
  }

  @keyframes wave {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  /* Optional: Add some fade-in animation */
section {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
div.header-nav-item--active>a {
    color: white !important;
}
