---
import About from '../components/About.astro';
import Intro from '../components/Intro.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/projects.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---
<SiteLayout name="Anjelica">
	<div class="overflow-y-scroll max-h-screen">

		<About/>
		<Intro/>
		<Experience/>
		<Projects/>
	</div>
</SiteLayout>