---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import MastHead from '../components/MastHead.astro';
import About from '../components/About.astro';
import Intro from '../components/Intro.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/projects.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<MastHead/>
		<About/>
	</head>
	<body class="bg-midnight-black">
		<main>
			<Intro/>
			<Experience/>
			<Projects/>
		</main>
	</body>
</html>
