---
import About from '../components/About.astro';
import Intro from '../components/Intro.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/projects.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---
<SiteLayout name="Anjelica" headerImage="/header-image.webp" pfp="/anjelica.webp">
	<div class="max-h-screen">
		<About/>
		<Intro/>
		<Experience/>
		<Projects/>
	</div>
</SiteLayout>