<section class=" w-full-screen h-10 md:h-8 relative z-0">
        <hr class="border-gray-800 w-[60%] mx-auto mt-0 mb-2">
        <div class="flex justify-around items-start prose w-[65%] mx-auto md:text-2xl text-[11px]  font-modern font-bold">
            <div class="flex justify-around gap-1 items-center">
                <span class="w-0 h-0 border-l-[0.4em] border-y-[0.3em] border-y-transparent border-solid"></span>
                <span class="">HOME</span>
            </div>
            <div class="flex justify-around gap-1 items-center">
                <span class="w-0 h-0 border-l-[0.4em] border-y-[0.3em] border-y-transparent border-solid"></span>
                <span class="">BLOG</span>
            </div>
            <div class="flex justify-around gap-1 items-center">
                <span class="w-0 h-0 border-l-[0.4em] border-y-[0.3em] border-y-transparent border-solid"></span>
                <span class="">CONTACT</span>
            </div>
            <div class="flex justify-around gap-1 items-center">
                <span class="w-0 h-0 border-l-[0.4em] border-y-[0.3em] border-y-transparent border-solid"></span>
                <span class="">PROJECTS</span>
            </div>
        </div>
        <hr class="border-gray-800 w-[60%] mx-auto mt-2 mb-2">

</section>