---
import { IoLogoGithub } from 'react-icons/io5'
---
<section class="w-full-screen h-10 md:h-8 relative z-0">
        <hr class="border-gray-800 sm:w-1/2 w-3/5 mx-auto mt-0 mb-2">
        <div class="flex justify-between items-start prose w-3/5 sm:w-1/2 mx-auto lg:text-xl md:text-sm text-[10px] gap-1.5 text-neutral-300 font-galaxy">
            <div class="flex justify-around sm:gap-2 gap-1 items-center">
                <span class="triangle"></span>
                <span class="">HOME</span>
            </div>
            <div class="flex justify-around sm:gap-2 gap-1 items-center">
                <span class="triangle"></span>
                <span class="">BLOG</span>
            </div>
            <div class="flex justify-around sm:gap-2 gap-1 items-center">
                <span class="triangle"></span>
                <span class="">PROJECTS</span>
            </div>
            <div class="flex justify-around sm:gap-2 gap-1 items-center">
                <span><IoLogoGithub /></span>
                <span class="">SOURCE</span>
            </div>
        </div>
        <hr class="border-gray-800 sm:w-1/2 w-3/5 mx-auto mt-2 mb-2">

</section>