---
import { AiOutlineMail } from "react-icons/ai";
import { IoLogoGithub } from "react-icons/io5";
const today = new Date()
---

<footer>
	<div class="text-center flex sm:justify-center sm:gap-10 text-xs sm:flex-row flex-col items-center gap-4 text-zinc-500 pt-4 pb-4 font-galaxy">
		<p>&copy; {today.getFullYear()} Anjelica</p>
		<p class="flex items-center gap-1">
			Get in Touch!
			<a href="mailto:hi@anjelica.me">
				<AiOutlineMail/> 
			</a>
		</p>
		<div class="flex items-center gap-1">
			This site is open source 
			<a href="https://github.com/anjelica0224/mine" target="_blank">
				<IoLogoGithub/> 
			</a>
		</span>
	</div>
</footer>