---
import { IoLogoGithub } from 'react-icons/io5';
import { IoLogoLinkedin } from "react-icons/io";
import { IoLogoTwitter } from "react-icons/io";
import { PiGoodreadsLogoBold } from "react-icons/pi";
import { AiFillSpotify } from "react-icons/ai";
import { FaLink } from "react-icons/fa6";
---

<header class="backdrop-blur-md sticky z-50 mx-auto top-0 p-4">
	<nav>
		<div class="social-links gap-8 flex justify-end-safe">
			<a href="https://github.com/anjelica0224" target="_blank">
				<IoLogoGithub className="w-6 h-6 text-neutral-300"/>
			</a>
			<a href="https://www.linkedin.com/in/anjelica-b64844211/" target="_blank">
				<IoLogoLinkedin className="w-6 h-6 text-neutral-300"/>
			</a>
			<a href="https://x.com/dysphoricsimon" target="_blank">
				<IoLogoTwitter className="w-6 h-6 text-neutral-300">
			</a>
			<a href="https://www.goodreads.com/user/show/94697968-aj" target="_blank">
				<PiGoodreadsLogoBold className="w-6 h-6 text-neutral-300">
			</a>
			<a href="https://open.spotify.com/user/31yygiallrnyltqh43ejb64y3zmm" target="_blank">
				<AiFillSpotify className="w-6 h-6 text-neutral-300"/>
			</a>
			<a href="https://dysphoricsimon3.wixsite.com/fabricatednutshell?fbclid=PAZXh0bgNhZW0CMTEAAacmvxMtzg7oktqvWg1Y0k44numK8c2HEOw3VezUfKF1QqtoUxOFxKPumdJf4Q_aem_-22uWvW0s6RkQ5MH11K3nA" target="_blank">
				<FaLink className="w-6 h-6 scale-90 text-neutral-300"/>
			</a>
		</div>
	</nav>
</header>
